@import '../../scss/colors.scss';
@import '../../scss/mixins';

.searchGraph {
    width: 660px;
    padding: 20px 20px;
    background-color: white;
    @include desktop {
        margin-bottom: 100px;
    }
    @include tablet {
        width: 500px;
        margin-bottom: 80px;
    }
    @include large-phone {
        width: 400px;
        margin-bottom: 60px;
    }
    @include medium-phone {
        width: 300px;
        margin-bottom: 50px;
    }
    @include small-phone {
        width: 250px;
        padding: 10px 10px;
    }

    .searchElements {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;

        .elementsRow {
            display: flex;

            .searchElement {
                background-color: #3EC1D3;
            }

            .searchElement:nth-child(n + 2) {
                margin-left: 2px;
            }
        }

        .elementsRow:nth-child(n + 2) {
            margin-top: 2px;
        }
    }

    .searchButtons {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        @include desktop {  
            flex-wrap: wrap;
        }
        @include large-phone {
            justify-content: space-between;
            margin-top: 10px;
        }
        @include medium-phone {
            justify-content: center;
        }

        .button {
            width: 110px;
            height: 40px;
            text-transform: uppercase;
            color: white;
            letter-spacing: 0.5px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            transition: box-shadow 200ms ease-in-out;
            outline: none;
            @include large-phone{
                width: 90px;
                height: 30px;
            }
        }

        .button:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.201);
        }

        .btnPink {
            background-color: $pink;
        }

        .btnYellow {
            background-color: $yellow;
        }

        .btnBlue {
            background-color: $blue;
        }

        .button:nth-child(1n + 2) {
            margin-left: 18px;
            @include large-phone {
                margin-left: 0;
            }
        }

        .button:nth-child(1n + 1) {
            @include large-phone {
                margin-top: 10px;
            }
            @include medium-phone {
                margin-top: 10px;
                margin-left: 10px;
            }
        }
    }
}

#startElement,
#finalElement {
    background-color: $pink;
    color: white;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include tablet {
        font-size: 1.2rem;
    }
    @include large-phone{
        font-size: 1.1rem;
    }
    @include medium-phone{
        font-size: 0.9rem;
    }
    @include small-phone {
        font-size: 0.8rem;
    }
}