.header {
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        display: flex;
        
        .logoText {
            color: black;
            font-size: 1.125rem;
            font-weight: 500;
            margin: 0;
            margin-left: 6px;
        }
    }

    .navigation {

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            .link {
                font-weight: 400;
                font-size: 1.125rem;
                cursor: pointer;
            }
        }
    }
}