@import '../../scss/colors.scss';
@import '../../scss/mixins';

.search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 150px;
    width: 90%;
    max-width: 1900px;
    @include desktop {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 200px;
        width: 330px;
        padding-right: 30px;
        height: 490px;
        @include desktop {
            width: auto;
            padding-right: 0;
            height: auto;
            width: 700px;
        }
        @include tablet {
            width: 540px;
        }
        @include large-phone {
            width: 440px;
        }
        @include medium-phone {
            width: 340px;
        }
        @include small-phone {
            width: 290px;
        }

        h2 {
            margin: 0;
            color: black;
            font-weight: 400;
            font-size: 1.875rem;
            text-transform: uppercase;
            margin-bottom: 46px;
            @include desktop {
                margin-bottom: 25px;
            }
            @include medium-phone {
                text-align: left;
            }
        }
        
        .searchForm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include desktop {
                margin-bottom: 25px;
            }

            input {
                width: 45px;
                border: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                outline: none;
                text-align: center;
                color: $medium-gray;
                font-size: 0.875rem;
            }

            input::placeholder {
                text-align: center;
                color: $medium-gray;
                font-size: 0.875rem;
            }

            label {
                text-align: left;
                margin-left: 17px;
                color: $dark-gray;
                font-weight: 400;
                font-size: 1rem;
            }

            .searchCaseLowRes {
                display: none;
                @include desktop {
                    display: block;
                    margin-top: 15px;
                }

                h3 {
                    margin: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1rem;
                }

                span {
                    color: $dark-gray;
                    font-size: 1rem;
                    font-size: 400;
                }
            }
        }

        .searchCases {
            margin-top: auto;
            display: flex;    
            justify-content: space-between;
            width: 100%;
            @include desktop {
                display: none;
            }

            .searchCase {

                h3 {
                    margin: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1rem;
                }

                span {
                    color: $dark-gray;
                    font-size: 1rem;
                    font-size: 400;
                }
            }

        }
    }
}